.gameBoard-container { 
    display: flex;
    justify-content: space-between;

}

.right-panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.opponent-brick {
    background-color: rgb(110, 110, 110, 0.6);
    font-size: 15px;
    width: 2em; /*can change*/
    height: 4em; /*can change*/
    border-radius: .8em;
    box-shadow: 0.1em 0.1em 0em 0.1em #333;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 5px;
}

.the-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}

.domino-game {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.my-hand-container {
    flex-direction: column;
}

#leaveBtn { 
    background-image: url("../../leave.jpeg");
}

.my-hand {
    display: flex;
    flex-direction: row;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;  
}

.opponent-1 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opponent-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.opponent-panel1 {
    display: flex;
    justify-content: center;
}

.center-bar {
    display: flex;
    flex-direction: row;
}

body {
    /*display: flex;*/
    /*justify-content: center;*/
    /*font-family: 'Atma';
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    /*background-image: url("./67037.jpg");*/
}

.deck2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

html, body {
    height: 100%;
}

td {
    padding: 0px;    
    white-space: nowrap
}

.right-nav {
    display: flex;
    flex-direction: column;
}

.chat-container {
    font-weight: bold;
    box-shadow: rgb(255, 255, 255) 0px 1px 0px 0px inset;
    /*background: linear-gradient(rgb(237, 237, 237) 5%, rgb(223, 223, 223) 100%) rgb(237, 237, 237);*/
    /*background-image: url("./StyleImgs/statistics.jpeg");*/
    background-size: 60px 65px;
    background-repeat: no-repeat;
    background-position: top right;
    background-color: #f8f8f8;
    border-radius: 25px;
    border: 1px solid rgb(220, 220, 220);
    display: inline-block;
    cursor: pointer;
    color: rgb(119, 119, 119);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    /*width: auto;*/
    text-shadow: rgb(255, 255, 255) 0px 1px 0px;
    /*width: 180px;*/
    margin: 5px;
    position: sticky;

}

.animate {
    -webkit-animation: fadein 0.5s;
    animation: fadein 0.5s;
    animation-duration: 2s;
}

.popup-container {
    position: relative;
    left: 450px;
    width: 400px;
    height: 400px;
    text-align: center;
    background: #cccc;
    padding: 15px 30px;
    border-radius: 10px 5px;
    border: 2px solid black;
}

.popup-container.endGame {
    height: auto;
    position: absolute;
    bottom: 150px;
    left: 550px;
    background-color: #f8f8f8;
}

.chat-base-container {
    flex-grow: 1;
    border: 3px solid rgb(1, 1, 1);
    margin: 3px;
    padding: 8px;
    border-radius: 25px;
    margin: 8px;
    font-size: 16px;
    
}

.statistics {
    display: flex;
    justify-content: center;
}

#statistics-container {
    background-size: 60px 65px;
    background-color: #f8f8f8;
    border-radius: 25px;
    border: 3px solid rgb(1, 1, 1);
    color: rgb(1, 1, 1);
    font-size: 26px;
    font-weight: bold;
    padding: 6px 24px;
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

